@import '_assets/scss/abstractions/variables.scss';

/*----------------
    Future Forecast
  -----------------*/
.future {
  margin-bottom: 10%;
  padding: 0 10%;
  & > .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 0;
    padding: 5% 10%;
    width: 100%;
    @media (min-width: $mobileMd) {
      border-bottom: none;
      float: left;
      padding: 20px;
      padding-bottom: 40px;
      width: 33.33%;
    }
    .conditions,
    .temp-range {
      text-align: center;
    }
  }
  & > .container:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    @media (min-width: $mobileMd) {
      border-top: none;
    }
  }
  .day {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p {
    text-align: left;
    @media (min-width: $mobileMd) {
      text-align: center;
    }
  }
  @media (min-width: $mobileMd) {
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 3%;

    & > .container:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
}

.high:after,
.low:after {
  content: $degreeSymbol;
  padding: 1px;
}
