// colors

$blue: #2399f1;

$dark-gray: rgba(0, 0, 0, 0.54);

$gray: rgba(0, 0, 0, 0.54);

$black: #393d48;

$outline: #dfdfdf;

$background: #eff3f6;

// font-sizes

$small: 14pt;

$smallest: $small/1.5;

$big: 42px;

$normal: $big/2;

// screen sizes

$mobileS: 480px;

$mobileMd: 590px;

$mobile: 768px;

$desktopS: 980px;

$desktopMiddle: 1200px;
