@import '_assets/scss/abstractions/variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background: $background;
  color: $textColorAlt;
  transition: transform 0.2s cubic-bezier(0, 0, 1, 1) 0ms;
}

.footer {
  color: $textColorAlt;
  font-size: 0.8rem;
  letter-spacing: 0.07em;
  line-height: 2;
  padding: 30px 0;
  width: 100%;
  @media (min-width: $mobileMd) {
    font-size: 0.9rem;
  }
}

.last-updated {
  color: $textColor;
  padding: 5% 0;
  &:before {
    content: '-- ';
  }
  &:after {
    content: ' --';
  }
  @media (min-width: $desktopS) {
    padding: 3%;
  }
}
